<div class="card">

    <div class="header">
        <h2 class="title">Flight Search</h2>
    </div>

    <div class="content">

        <form #f="ngForm">
            <div class="form-group">
                <label>From:</label>
                <input
                    [(ngModel)]="from"
                    name="from"
                    class="form-control"
                    required
                    minlength="3"
                    maxlength="15">
            </div>
            <pre *ngIf="!f?.controls['from']?.valid">Feld ist nicht valide.</pre>
            <pre *ngIf="f?.controls['from']?.hasError('required')">Das ist ein Pflichtfeld.</pre>
            <pre *ngIf="f?.controls['from']?.hasError('minlength')">Bitte mehr Zeichen eingeben ({{
                f?.controls['from']?.errors?.minlength?.actualLength
            }}/3)</pre>

            <div class="form-group">
                <label>To:</label>
                <input [(ngModel)]="to" name="to" class="form-control">
            </div>

            <div class="form-group">
                <button
                    class="btn btn-default"
                    (click)="search()">Search</button>
            </div>
        </form>

        <!-- <p>
            {{ from }} - {{ to }}
        </p> -->

    </div>
</div>

<div class="row">
    <div
        class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
        *ngFor="let flight of flights">

        <!-- (selectedChange)="basket[flight.id] = $event" -->
        <app-flight-card
            [item]="flight"
            [(selected)]="basket[flight.id]">

            <h1 class="title">My projected title</h1>
            <p>My custom text.</p>
        </app-flight-card>

    </div>
</div>

<div class="card">
    <div class="content">
        <pre>{{ basket | json }}</pre>
    </div>
</div>

<!-- <div class="card">
    <div class="content">
        <pre>{{ (passengers$ | async)[0].firstname }}</pre>
        <pre *ngIf="{
            timer: timer$ | async
        } as data">{{ data.timer }}</pre>
        <p *ngIf="showTimer">
            Timer: {{ timer$ | async }}
        </p>
        <button (click)="showTimer = !showTimer">toggle Timer</button>
    </div>
</div> -->